<% @title="Chromatype" %>


<div id="score">&nbsp;</div>

<div class="container">
	<div id="speedbar">&nbsp;</div>
	<div id="speedbar-cover">&nbsp;</div>
</div>

<div id="text"><blockquote>On her own time, she'd have been checking out views of the city, but she wasn't being paid to enjoy the scenery. Seemed to be at least one street that was transparent, down there, lit from below, like it was paved with glass. Hardly any traffic. Maybe they hadn't designed that yet. She thought she'd seen something walking, two-legged, at the edge of woods, or a park, too big to be human. Some of the vehicles hadn't any lights. And something huge had sailed slowly past, out beyond the receding towers, like a whale, or a whale-sized shark. Lights on it, like a plane.</blockquote>
<p>&mdash; <cite>The Peripheral</cite>, by William Gibson<p></div>

<div id="game" contenteditable="true" tabindex="0"><p>Just start typing</p></div>

<div id="shade">&nbsp;</div>

<div id="gameover">
<p>Chromatype is a web application built by Kathryn Tullis in San Francisco, USA and Vancouver, Canada as a final project for the CS50x 2014 MOOC on EdX.org.</p>
</div>
