<h1>
<span class="slow">Key</span><span class="medium_slow">board</span><span class="medium">ing</span> 
<span class="medium_fast">Speed</span> 
<span class="fast">Test</span>
</h1>
<!--tabindex, which "Specifies the tabbing order of the element" 
	enables use of "onfocus" for this div-->
<div id="game" contenteditable="true" tabindex="0"><span class="slow">Just start typing</span></div>

<!--<h2>Your Speed:</h2>
<div id="speed">0</div>-->

<div id="score"></div>