<div id="score">&nbsp;</div>
<div class="container">
	<div id="speedbar">&nbsp;</div>
	<div id="speedbar-cover">&nbsp;</div>
</div>


<!--tabindex, which "Specifies the tabbing order of the element" 
	enables use of "onfocus" for this div-->
<div id="game" contenteditable="true" tabindex="0"><p>Just start typing</p></div>

<h2>Your Speeds:</h2>
<div id="speed">0, </div>

