// Place all the styles related to the welcome controller here. 
// They will automatically be included in application.css. 
// You can use Sass (SCSS) here: http://sass-lang.com/ 

body {
    background-color: white;
    font-family:"Lucida Grande", Arial, sans-serif;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
p {
	font-size: x-large;
	color: darkgrey;
	text-align: center;

}
.container {
	height: 30px;
	width: 100%;
	position: relative;
	border: 1em;
	margin: 20px auto;
}
#speedbar {
    background: -webkit-linear-gradient(left, violet, indigo, blue, green, yellow, orange, red); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, violet, indigo, blue, green, yellow, orange, red); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, violet, indigo, blue, green, yellow, orange, red); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red); /* Standard syntax (must be last) */
	height: 20px;
	width: 100%;
	position: absolute;
	border-radius: 1em;
	margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;

}
#speedbar-cover {
	background: white;
    opacity: .9;
    height: 20px;
    width: 100%;
    position: absolute;
    margin: auto;
    top: 0; bottom: 0; left: auto; right: 0;
}
#game {
    color: #505050;
    font-family: "Courier New", Courier, monospace;
    font-size: large;
    font-weight: 700;
    text-align: left;
    background-color: lightgrey;
    border-radius: 1em;
    height: 400px;
    padding: 1em;
    pointer-events: none;
}
#score {
    color: #505050;
    text-align: center;
    background-color: initial;
    margin: 30px auto;
    width: 100%;
}

#speed {
	text-align: left;
}

.current {
	color: black;
}
.vfast {
    color: red;
}
.fast {
	color: orange;
}
.medium_fast {
    color: yellow;
}
.medium {
    color: green;
}
.medium_slow {
    color: blue;
}
.slow {
    color: indigo;
}
.vslow {
	color: violet;
}